In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
motor1={
    "owner":['a','b','c'],
    "brand":['hero','honda','yamaha'],
    "year":['2010','2020','2020']
    
}

In [19]:
df=pd.read_csv('motor.csv')

In [20]:
print(df)

   Unnamed: 0 owner  brand  year
0           0     a   hero  2010
1           1     b  honda  2020

In [21]:
df.head(3)

   Unnamed: 0 owner  brand  year
0           0     a   hero  2010
1           1     b  honda  2020